@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.navbar-toggle {
    cursor: pointer;
    color: white;
    font-size: 24px;
    margin-right: auto;
    display: none; /* Hide toggle button by default */
}

.navbar-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    display: none; /* Hide menu by default */
}

.navbar-menu.open {
    display: flex;
}

.menu-items {
    position: relative;
}

.menu-items > button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    width: 100%;
}

.menu-items > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.arrow {
    margin-left: 5px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    z-index: 1000;
    animation: slide-down 0.3s ease-in-out;
}

.dropdown.show {
    display: block;
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
    }

    .navbar-toggle {
        display: none; /* Hide toggle button on larger screens */
    }

    .navbar-menu {
        display: flex; /* Show menu on larger screens */
        flex-direction: row;
    }

    .menu-items > button {
        width: auto;
    }
}